<!DOCTYPE html>
<html lang="zh">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <title>{% block title %}{% endblock %}</title>
      <meta name="description" content="{% block description %}{% endblock %}">
      <meta name="author" content="{% block author %}{% endblock %}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/static/css/vendor/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/css/flat-ui.min.css">
      <link rel="stylesheet" href="/static/css/gateway.css">
    {% endblock %}
  </head>
  <body>
    <div class="container">
      {% block main_content %}{% endblock %}
    </div>
  </body>
  <script type="text/javascript" src="/static/js/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/flat-ui.min.js"></script>
</html>
